@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$backgroung-color : #FFFFFF;
$box-shadow :  0 0 10px rgba(0,0,0,0.5);
$label-color: #949494;
$button : #5970FF;
$margin : 0 6.25% 0.5% 6.25%;

@font-face {
  font-family: 'Ferry', arial;
  src: url('ferry_black.otf') format('opentype');
}

@mixin titles_900 () {
  font-weight: 900;
  font-family: 'Ferry', arial;
  text-transform: uppercase;
  color: black;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#app {
  width: 100%;
  height: auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  height: 93px;
  width: 100vw;
  background-color: $backgroung-color;
  color: #000000;
  font-weight: 400;
  margin-bottom: 4%;
}

header > .logo {
  width: 141px;
  height: 141px;
  margin-left: 4%;
}

@mixin info_register () {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}




header > .info {
  @include info_register;
}

header > .info p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


header > .info p:hover {
  cursor: pointer;
  background-color: #029491;
  color: white;
  height: 100%;
}

header > .register {
  @include info_register;
}

@mixin p () {
  justify-self: center;
  align-self: center;
}
header > .register_p {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
header > .register_p p:nth-child(1) {
  width: 146px;
  height: 17px;
  opacity: 40%;
  @include p;
  cursor: pointer;
}

header > .register_p p:nth-child(2) {
  color: #029491;
  font-size: 26px;
  opacity: 60%;
  @include p;
  margin: 0 2% 0 1.5%;
}
header > .register_p button {
  width: 65px;
  height: 26px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background-color: #7CE3E1;
  cursor: pointer;
}


header > .register > .login_info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 217, 217, 0.3);
  height: 63px;
  border-radius: 5px;
  width: 40%;
  margin-left: 15%;
  text-align: right;
  color: rgb(0, 0, 0, 0.3);
}
header > .register > .login_info > img {
  width: 44px;
  height: 44px;
}
header > .register > .login_info > p {
  padding-right: 8%;
}
@mixin company_limit($color) {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 700;
  color: $color;
  letter-spacing: 0;
}


header > .register > .login_info > p > span:first-of-type {
  @include company_limit(rgb(0, 0, 0, 1));
}
header > .register > .login_info > p > span:nth-of-type(2) {
  @include company_limit(#8AC540);
}

header > .register > .profile_info {
  height: 32px;
  width: 111px;
  margin-right: 10%;
}
header > .register > .profile_info > span:first-of-type {
  font-size: 14px;
}
header > .register > .profile_info > span:nth-of-type(2) {
  font-size: 10px;
  text-align: right;
  opacity: 40%;
  margin-left: 30%;
  cursor: pointer;
}
header > .register > .profile_info > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  align-self: flex-end;
  float: right;
}
main {
  width: 100vw;
  height: auto;
}
.servis {
  height: 620px;
  //border: 1px solid black;
  width: 93%;
  margin: 50px 3.5% 0 3.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  background-color: $backgroung-color;

}
.servis p:first-child {
  line-height: 72px;
  font-size: 60px;
  @include titles_900;
  width: 120%;
  z-index: 1;
  position: relative;
  height: 288px;
  text-align: left;
}
.servis p:nth-child(2) {
  width: 80%;
  height: 48px;
  line-height: 24px;
}
.servis button {
  order: 3;
  height: 59px;
  width: 50%;
  border-radius: 5px;
  background-color: $button;
  font-weight: 500;
  color: $backgroung-color;
  border: none;
}
.servis button:hover {
  cursor: pointer;
}
.servis img {
  grid-row: span 3;
  height: 620px;
  width: 70%;
  z-index: 0;
  position: relative;
  justify-self: center;
}
.whywe {
  width: 93%;
  //border: 1px solid black;
  margin: 0 3.5% 0 3.5%;
  height: 349px;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr;
  background-color: $backgroung-color;
  //border-radius: 10px;
}

.whywe_title {
  grid-column: span 5;
  text-transform: uppercase;
  font-family: 'Ferry', arial;
  font-size: 45px;
  font-weight: 900;
}
.whywe span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  height: 225px;
  width: 90%;
  border-radius: 10px;
  box-shadow: $box-shadow;
}

.whywe span img {
  height: 64px;
  width: 64px;
  margin-bottom: 20px;
  //background-color: #029491;
  //mix-blend-mode: multiply;
}
.whywe span p {
  margin-left: 5px;
}
.strelka {
  width: 39px;
  height: 39px;
  align-self: center;
}
.strelka:hover {
  cursor: pointer;
}
.strelka:first-of-type {
  transform: rotate(180deg);
}

.chel_sidit {
  height: 575px;
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}

.chel_sidit svg {
  width: 90%;
}
.tarifes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 80%;
  height: 664px;
  width: 91%;
  margin: 50px 4.5% 0 4.5%;
  letter-spacing: 1px;
}


.tarifes_title {
  @include titles_900;
  grid-column: span 3;
  font-size: 45px;
  width: auto;
  border: none;
  line-height: 54px;
  letter-spacing: 2px;
  background-color: $backgroung-color;
}

.tarif  {
  width: 80%;
  height: 540px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  box-shadow: $box-shadow;
  border-radius: 5px;
}


@mixin tarif_header ($back-color, $color) {
  display: grid;
  grid-template-columns: 0.8fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  background-color: $back-color;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  color: $color;
}

.beginner > .header {
  @include tarif_header(#FFB64F, #000000);
}

.pro > .header {
  @include tarif_header(#7CE3E1, #000000);
}
.business > .header {
  @include tarif_header(black, white);
}

.tarif > .header > span:first-of-type {
  font-size: 30px;
  line-height: 36.31px;
  font-weight: 500;
}
.tarif > .header > svg {
  grid-row: span 2;
  margin-left: 10px;
}
.tarif > .header > span:nth-of-type(2) {
  width: 110%;
  height: 22px;
  //margin-right: 15px;
}
.tarif  > .info {
  display: flex;
  //grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-between;
  flex-direction: column;
  height: 73%;
  width: 90%;
  align-self: center;
  justify-self: center;
}
.tarif  > .info > .cost {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5px 5px 0 10px;
}

@mixin cost () {
  display: flex;
  font-weight: 500;
}

.tarif  > .info > .cost > span:nth-child(1) {
  @include cost;
  font-size: 30px;
  line-height: 36.31px;
  margin-bottom: 1%;
  padding-top: 15px;
}
.tarif  > .info > .cost > span:nth-child(2) {
  @include cost;
  font-size: 25px;
  line-height: 30.26px;
  color: rgb(0, 0, 0, 0.5);
  text-decoration: line-through;
  padding-top: 15px;
}
.current_tar {
  color: $backgroung-color;
  background-color: #3BA5E0;
  font-size: 12px;
  height: 24px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin-left: 16%;
  margin-right: 15%;
  padding: 7px 2px 0 2px;
}
.credit {
  grid-column: span 3;
}
.tarif_include span {
  font-size: 20px;
  font-weight: 500;
  //margin-bottom: 1%;
}
.tarif_include ul {
  margin-bottom: 2%;
}

.tarif_include ul li {
  margin: 1% 0 1% 0;
  font-size: 18px;
  font-weight: 400;
}

.tarif_include ul li p {
  display: inline-block;
}
.tarif_include ul li img{
  width: 15px;
  height: 15px;
  margin-right: 1%;
}





.tarifes > .tarif > .info > button {
  height: 59px;
  width: 100%;
  background-color: $button;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24.2px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.tarifes > .tarif > .info > .select_tarif {
  background-color: #D2D2D2;
}


.auth {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 56.74% 43.26%;
  grid-template-rows: 1fr;
  margin: 3.5% 0 0 0;
}
.people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.people > span {
  @include titles_900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  height: 144px;
  margin-left: 15%;
  margin-bottom: 2%;
  width: 85%;
}

.form {
  height: 578px;
  //border: 1px solid black;
  width: 77.05%;
  display: flex;
  flex-direction: column;

}
.form > svg {
  position: relative;
  z-index: 1;
  left: 7%;
  top: 4%;
}

.form > form {
  display: flex;
  flex-direction: column;
  height: 523px;
  box-shadow: $box-shadow;
  border-radius: 10px;
  width: 87.73%;
  align-self: flex-end;
  position: relative;
  z-index: 0;
}

.form > form > div {
  width: 89.6%;
  padding: 15px 22px 10px 22px;
}
.form > form > div:last-child {
  width: 72.81%;
}

.form > form > .login_or_registration {
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin login_register ($color) {
  margin-right: 5px;
  color: $color;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  height: 100%;
  padding-top: 1.5%;
  border-bottom: 1px solid $color;
  width: 100%;
  cursor: pointer;
}
.form > form > .login_or_registration > .login {
  @include login_register(#029491);
}
.form > form > .login_or_registration > .registration {
  @include login_register(#C7C7C7);
}

.form > form > .fields {
  height: 174px;
  display: flex;
  flex-direction: column;
}

.form > form > .fields > label {
  margin: 3% 0 3% 0;
  color: $label-color;
}

@mixin login_password ($border) {
  width: 100%;
  height: 43px;
  background-color: #FFFFFF;
  border: 1px solid $border;
  border-radius: 5px;

  @if ($border == #FF5959) {
    padding: 2%;
    margin-bottom: 0.5%;
  }
  @else {
    padding-left: 1.5%;
  }
}


.form > form > .fields > input {
  @include login_password(#C7C7C7);
}

.form > form > .fields > .error {
  @include login_password(#FF5959);
}

.form > form > .fields > p {
  font-size: 14px;
  text-align: center;
  line-height: 16.94px;
  color: #FF5959;
  height: 17px;
}
.form > form > .button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.form > form > .button > button {
  background-color: $button;
  width: 100%;
  height: 59px;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 2%;
  cursor: pointer;
}

.form > form > .button > span {
  font-size: 14px;
  color: $button;
  height: 17px;
  text-decoration: underline;
  cursor: pointer;
}


.form > form > .oauth {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.form > form > .oauth > span:first-of-type {
  grid-column: span 3;
  margin-bottom: 3%;
  font-size: 16px;
  font-weight: 400;
  color: $label-color;
}

.form > form > .oauth > span:not(:first-of-type) {
  border: 1px solid #5970FF82;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94.12%;
  height: 31px;
  border-radius: 3px;
  cursor: pointer;
}


.search {
  display: grid;
  margin-top: 2%;
  grid-template-rows: 20% 80%;
  padding: 0 0 0 5%;
}

.search > .search_field {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}


.search > .search_field > span:first-of-type {
  display: flex;
  flex-direction: column;
}


@mixin title ($font, $weight, $line, $space, $transform, $height) {
  font-size: $font;
  font-weight: $weight;
  line-height: $line;
  letter-spacing: $space;
  text-transform: $transform;
  height: $height;
}

.search > .search_field > span:first-of-type > span:first-of-type {
  @include title(40px, 900, 48px, 1.2px, uppercase, 96px);
}

.search > .search_field > span:first-of-type > span:nth-of-type(2) {
  @include title(20px, 400, 24.2px, 0.4px, none, 48px);
  padding-top: 10px;
}
.search > .search_field > span:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20% 0 20%;
}
.search > .search_field > span:nth-of-type(2) > svg:first-of-type {
  justify-self: flex-end;
  align-self: flex-end;
}

.search > .search_field > span:nth-of-type(2) > svg:nth-of-type(2) {
  align-self: flex-end;
  justify-self: center;
}


.search > .person_with_docs {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr;
}

.search > .person_with_docs > form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: $box-shadow;
}

.search > .person_with_docs > form > .company_info {
  display: flex;
  flex-direction: column;
  padding: 5% 0 0 5%;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0.54px;
}

.search > .person_with_docs > form > .company_info > span {
  margin-bottom: 5%;
}

.search > .person_with_docs > form > .company_info > span > input,
.search > .person_with_docs > form > .company_info > span > select{
  display: block;
  margin-top: 4%;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
  height: 43px;
  width: 55.5%;
  text-align: center;
}
.search > .person_with_docs > form > .company_info > span:nth-of-type(4) > input {
  display: inline;
  width: 40.37%;
  margin-right: 1%;
}

.search > .person_with_docs > form > .company_info > span:first-of-type {
  height: 93px;
}

@mixin star ($color) {
  font-size: 25px;
  color: $color;
}

.search > .person_with_docs > form > .company_info > span:not(:nth-of-type(2)) > label > span {
  @include star(black);
}

.search > .person_with_docs > form > .company_info > span:not(:nth-of-type(2)) > .error_data > span {
  @include star(#FF5959);
}

@mixin incorrect ($width) {
  font-size: 14px;
  color: #FF5959;
  width: $width;
  text-align: center;
}

.search > .person_with_docs > form > .company_info > span:first-of-type > p,
.search > .person_with_docs > form > .company_info > span:nth-of-type(3) > p {
  @include incorrect(55.5%);
}

.search > .person_with_docs > form > .company_info > span:nth-of-type(4) > p {
  @include incorrect(88%);
}

.search > .person_with_docs > form > .company_info > span:not(:nth-of-type(2)) > .error_field {
  border: 1px solid #FF5959;
}
.search > .person_with_docs > form > .company_info > span:nth-of-type(2) {
  height: 85px;
}
.search > .person_with_docs > form > .company_info > span:nth-of-type(3),
.search > .person_with_docs > form > .company_info > span:nth-of-type(4) {
  height: 94px;
}

.search > .person_with_docs > form > .checkboxes {
  display: flex;
  flex-direction: column;
  padding: 5% 5% 0 0;
  width: 100%;
  height: 100%;
}

.search > .person_with_docs > form > .checkboxes > span:not(:last-of-type) {
  height: 244px;
  width: 93.12%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.search > .person_with_docs > form > .checkboxes > span:not(:last-of-type) > span {
  margin-bottom: 2%;
  font-size: 18px;
  letter-spacing: 0.54px;
  display: flex;
  align-items: center;
}
.search > .person_with_docs > form > .checkboxes > span:not(:last-of-type) > span > input {
  margin-right: 2%;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  cursor: pointer;
}
.search > .person_with_docs > form > .checkboxes > span:not(:last-of-type) > span > input:checked::after {
  content: "✔";
  position: relative;
  color: #59d43b;
  background-color: white;
  font-size: 14px;
  bottom: 2px;
  left: 0;
  border: 1px solid black;
  padding: 0 3px 1px 3px;
  font-weight: 900;
}

.search > .person_with_docs > form > .checkboxes > span:last-of-type {
  justify-self: flex-end;
  align-self: flex-end;
  width: 100%;
  margin-top: 15%;
}
.search > .person_with_docs > form > .checkboxes > span:last-of-type > button {
  display: block;
  width: 69.95%;
  height: 59px;
  margin-left: 16%;
  border: none;
  background-color: $button;
  border-radius: 5px;
  text-align: center;
  color: $backgroung-color;
  font-size: 22px;
  margin-bottom: 1%;
  cursor: pointer;
}
.search > .person_with_docs > form > .checkboxes > span:last-of-type > label {
  margin-left: 16%;
  color: #949494;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0.42px;
}
.search > .person_with_docs > svg {
  align-self: center;
  justify-self: center;
}

.women {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 5%;
}

.women > span:first-of-type {
  padding: 1% 0 0 1%;
  width: 70.69%;
}



.women > span:first-of-type > span:first-of-type {
  @include titles_900;
  font-size: 40px;
  height: 96px;
}

.women > span:first-of-type > span:nth-of-type(2) {
  display: block;
  margin-top: 1%;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 0.4px;
  height: 48px;
}

.women > span:nth-of-type(2) {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}


.result {
  height: 260px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.result > span:first-of-type {
  @include titles_900;
  font-size: 30px;
  margin: $margin;
}
.result > span:nth-of-type(2) {
  color: #949494;
  font-size: 18px;
  margin: $margin;
}
.result > span:nth-of-type(3) {
  display: grid;
  grid-template-columns: 6.25% 87.5% 6.25%;
  margin-top: 2%;
}
.result > span:nth-of-type(3) > img {
  width: 39px;
  height: 39px;
  justify-self: center;
  align-self: center;
  opacity: 20%;
  cursor: pointer;
}

.result > span:nth-of-type(3) > img:first-of-type {
  transform: rotate(-180deg);
}

.result > span:nth-of-type(3) > table {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: #029491;
  height: 158px;
  border-radius: 10px;
  padding: 0.2% 0.3% 0.2% 0.4%;
  border-right: 2px;
  position: relative;
  z-index: 0;
}

@mixin tr ($back, $color, $font-size, $font-weight) {
  background-color: $back;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //padding: 5% 0 5% 0;
  //border-right: $border;
  width: 100%;
  height: 87%;
  padding-top: 2%;
  position: relative;
}

.result > span:nth-of-type(3) > table > thead {
  width: 100%;
  height: 100%;
}


.result > span:nth-of-type(3) > table > thead > tr {
  @include tr(#029491, white, 20px, 500);
}
.result > span:nth-of-type(3) > table > thead > tr > td {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result > span:nth-of-type(3) > table > tbody {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  height: 100%;
  padding-bottom: 7%;
  position: relative;
  z-index: 0;
}
.result > span:nth-of-type(3) > table > tbody > span > img {
  grid-column: span 8;
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 350%;
  top: 20%;
}


.result > span:nth-of-type(3) > table > tbody > tr {
  @include tr(white, black, 18px, 400);
  border-right: 1px solid #949494;
  z-index: 1;
}
.result > span:nth-of-type(3) > table > tbody > tr > td {
  width: 100%;
  height: 100%;
  border-right: 1px solid #949494;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.result > span:nth-of-type(3) > table > tbody > h1 {
  width: 800%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result > span:nth-of-type(3) > table > tbody > tr:last-of-type {
  @include tr(white, black, 18px, 400);
  border: none;
}
.list_of_docs {
  display: flex;
  flex-direction: column;
}
.list_of_docs > span:first-of-type {
  @include titles_900;
  font-size: 30px;
  letter-spacing: 0.6px;
  margin-left: 5%;
}
.list_of_docs > span:nth-of-type(2) {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 89.03%;
  margin-left: 5%;
  margin-top: 2%;
}

.list_of_docs > span:nth-of-type(2) > span {
  height: 694px;
  box-shadow: $box-shadow;
  margin-right: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.list_of_docs > span:nth-of-type(2) > span > .date_title {
  font-size: 16px;
  color: #949494;
}

.list_of_docs > span:nth-of-type(2) > span > .doc_title {
  font-size: 26px;
  line-height: 31.47px;
  font-weight: 500;
  margin: 2% 0 1% 0;
  height: 62px;
  letter-spacing: 0.52px;
}

.list_of_docs > span:nth-of-type(2) > span > .category {
  height: 22px;
  background-color: #FFB64F;
  border-radius: 5px;
  width: 24.49%;
  text-align: center;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 0.24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list_of_docs > span:nth-of-type(2) > span > img {
  border-radius: 10px;
  height: 158px;
  width: 80.64%;
  margin: 2% 0 2% 0;
}
.list_of_docs > span:nth-of-type(2) > span > .content {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 19.36px;
  letter-spacing: 0.32px;
}

.list_of_docs > span:nth-of-type(2) > span > .to_read {
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
}
.list_of_docs > span:nth-of-type(2) > span > .to_read > button {
  background-color: #7CE3E1;
  border: none;
  height: 46.54px;
  border-radius: 5px;
  width: 34.79%;
  font-size: 16px;
  cursor: pointer;
}
.list_of_docs > span:nth-of-type(2) > span > .to_read > span {
  font-size: 16px;
  line-height: 19.36px;
  color: #949494;
  align-self: center;
}
.list_of_docs > h1 {
  align-self: center;
  margin-top: 5%;
}

.list_of_docs > button {
  height: 59px;
  margin-top: 2%;
  width: 21.18%;
  align-self: center;
  border: none;
  background-color: $button;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: 0.88px;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  width: 100%;
  height: 137px;
  background-color: #029491;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  bottom: -137px;
}
footer img {
  width: 141px;
  height: 141px;
  margin-left: 3%;
}

footer .address {
  font-weight: 400;
  position: relative;
  top: 25%;
  left: 78%;
  right: 0;
  text-align: right;
  font-size: 14px;
  line-height: 14.52px;
  color: white;
}

footer .address p {
  margin-bottom: 2%;
}

footer .address p:nth-child(4) {
  margin-top: 10%;
  font-size: 12px;
}